@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario:#E5E5E5;
    --fuente-primaria:'Inter', sans-serif;
    --color-fuente:#0A3871;
}

body{
    background-color: var(--color-primario);
    font-family: var(--fuente-primaria);
    color:var(--color-fuente);
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 5%;
}
.outgoing{
    width: 400px;
    height: 944px;
    background-color:#fff;
    border-radius: 32px;
}

@media(max-width:1200px){
    .container{
        flex-direction: column;
        padding: 5%;
    }

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion_container{
        width: auto;
    }
}