@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario:#F3F5FC;
    --fuente-primaria:'Inter', sans-serif;
    --color-fuente:#0A3871;
    --color-fuente-texo:#343A40;
    --color-blanco:#fff;
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    font-family: var(--fuente-primaria);
    color:var(--color-fuente);
    border:1px #000;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 98%;
    height: 98%;
    display: flex;
    justify-content:space-around;
    margin: 2%;
    gap: 50px;
}

.incoming{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.parte_arriba{
    margin-left: 100px;
    margin-top: -250px;
}

.parte_abajo{
    margin-left: 100px;
}

.botones{
    width:42.5em ;
    height: 4.25em;
    display: flex;
    justify-content: space-between;
}

.botones-p{
    display: flex;
    align-items: center;
    color:var(--color-fuente-texo);
    font-size: 12px;
    margin-bottom: 15px;
}

.button-encriptar{
    width: 20.5em;
    border-radius: 1.5em;
    background-color: var(--color-fuente);
    font-family: var(--fuente-primaria);
    color: var(--color-primario);
    font-size: 1em;
    border-color: var(--color-fuente);
}

.button-desencriptar {
    width: 20.5em;
    border-radius: 1.5em;
    background-color: #D8DFE8;
    font-family: var(--fuente-primaria);
    color: var(--color-fuente);
    font-size: 1em;
    border-color: var(--color-fuente);
}

.button-copiar {
    width: 20.5em;
    border-radius: 1.5em;
    background-color:var(--color-blanco);
    font-family: var(--fuente-primaria);
    color: var(--color-fuente);
    font-size: 1em;
    border-color: var(--color-fuente);
    height: 4.25em;
}



.outgoing{
    width: 25em;
    height: 42.5em;
    background-color:var(--color-blanco);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5% 5% 5% 5%;
    -webkit-box-shadow: 0px 10px 32px -15px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 10px 32px -15px rgba(0,0,0,0.47);
    box-shadow: 0px 10px 32px -15px rgba(0,0,0,0.47);
}



.input_texto{
    font-family: var(--fuente-primaria);
    border: none;
    background-color: var(--color-primario);
    color: var(--color-fuente);
    font-size: 2em;
    resize: none;
    width: 90%;
    height: 250px;

}

.input_texto::placeholder{
    font-family: var(--fuente-primaria);
    border: none;
    background-color: var(--color-primario);
    color: var(--color-fuente);
    font-size: 32px;
}

.input_texto:focus{
    outline: none;
    border: none;
}
.outgoing-texto{

    width: 98%;
    height: 98%;
    text-align: center;
    gap:20px;
    
}

.outgoing-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto-resultado{
    font-size: 1.5em;
    font-weight: bold;
    color:var(--color-fuente-texo);
}

.texto-otro{
    font-size: 1em;
    color:var(--color-fuente-texo);
}

.muñeco{
    width: 21em;
    height:19em;
    margin-top: 120px;
}

@media(max-width:1200px){
    .container{
        flex-direction: column;
    }
    .outgoing{
        width:90% ;
        height: 300px;

    }
    .muñeco{
        display: none;
    }

}

